* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    gap: 40px;
}

#mem {
    width: 100vh;
}

#text {
    font-size: 64px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}